	<div class="background">
	<div class="wrapper">
		<div class="title">心愿墙</div>

		<div class="nav">
			<ul>
				<li id="active">心愿聚集</li>
				<li id="inactive"><a href="/new_wish.html">立刻许愿</a></li>
			</ul>
		</div>
		<div class="main">
			$wish_boxes
		</div>
		<div class="footer">Coded By 
		<a href="https://plus.google.com/u/0/+%E9%BB%91%E5%BC%80%E6%B0%B4/posts" class="a1">黑开水</a> 
		<a href="http://t.qq.com/eesuvon" class="a2">xukiro</a>
		<a href="http://user.qzone.qq.com/1024516706" class="a3">坂道</a>
		<a href="http://user.qzone.qq.com/492850141" class="a4">多啦A梦</a>
		</div>		
	</div>
	</div>
</body>
</html>
