<!DOCTYPE html>
<html>
<head>
	<title>$title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/main.css">
	<script type="text/javascript">
	function add(num){
		var a =parseInt(num.zan.value) ;
		a = a + 1;
		num.zan.value = String("+" + a);

	}

	function checkForm(obj){
		obj.zan.value.submit();
		return false;
	}
// 	var add_thumb_up = function(form, event){
// 	console.log("=====");
// 	}
// 	var event = event || window.event;
// 	event.preventDefault();
// 	if(postChecker(form)==false) return false;
// 	var formdata = new FormData(form);
// 	xhr.onreadystatechange = function(){
// 	}
// 	xhr.open('post','cgi-bin/thumb_up.py');
// 	xhr.send(formdata)
	</script>
</head>
<body>